<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-warning></app-warning>
      <hr>
      <app-success></app-success>
    </div>
  </div>
</div>